transformers==4.56.1
torch==2.8.0 --index-url https://download.pytorch.org/whl/cu124
datasets==4.0.0
tqdm==4.67.1
faiss-gpu-cu12==1.12.0
sentence-transformers==5.1.0
python-dotenv==1.1.1
accelerate==1.10.1
gdown